<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Database Apllication</title>

    {{! -- Bootstrap --- }}
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">

    {{! -- CSS --- }}

    <link rel="stylesheet" href="css/style.css">    
</head>
<body>

    {{{body}}}

</body>
</html>